body {
    background: gray;
}

.picker { 
  border: 2px solid black;
  background-color: white;
  margin: 2px;
  padding: 0px 10px;  /* vertical | horizontal */
  display: inline-block;
}

#superStrong {
    color: blue;
}

#strong {
    color: green;
}

#weak {
    color: orange;
}

#superWeak {
    color: red;
}

#non {
    color: purple;
}
